__pycache__/
**/.*.sw[ponlmkj]
*.py[cod]
*$py.class
*.o
*.so
*.so.dSYM
checkpoints
data
logs

jupyter/.ipynb_checkpoints/*

.__afs*
*DS_Store


### Gradient Halide App ###
halide/gradient_app/*.pyc
halide/gradient_app/data/
halide/gradient_app/output/
halide/gradient_app/data
halide/gradient_app/.cache
halide/gradient_app/pretrained
halide/gradient_app/semantic-segmentation-pytorch


### Gradient Halide Stuff ###

halide/gradient-halide/tutorial/figures/tmp/trace.bin
halide/gradient-halide/apps/*/bin
halide/gradient-halide/apps/*/cmake_build
halide/gradient-halide/apps/HelloMatlab/blurred.png
halide/gradient-halide/apps/HelloMatlab/iir_blur.mex
halide/gradient-halide/bazel-*
halide/gradient-halide/bin/*
halide/gradient-halide/python_bindings/bin/*
halide/gradient-halide/build-64/*
halide/gradient-halide/build-ios/*
halide/gradient-halide/build-osx/*
halide/gradient-halide/cmake_build/*
halide/gradient-halide/*/build/*
halide/gradient-halide/tmp/*
halide/gradient-halide/doc/*
halide/gradient-halide/include/*
halide/gradient-halide/distrib/*
halide/gradient-halide/testing/*
halide/gradient-halide/msvc/*/Win32/*
halide/gradient-halide/msvc/*/x64/*
halide/gradient-halide/\#*\#
halide/gradient-halide/.\#*
halide/gradient-halide/*~
halide/gradient-halide/*.o
halide/gradient-halide/*.a
halide/gradient-halide/*.so
halide/gradient-halide/*.dot
halide/gradient-halide/.DS_Store
halide/gradient-halide/*.log
halide/gradient-halide/generated.obj
halide/gradient-halide/hello-fimage
halide/gradient-halide/test.s
halide/gradient-halide/testX64
halide/gradient-halide/xcuserdata
halide/gradient-halide/in.png
halide/gradient-halide/_build
halide/gradient-halide/a.out
halide/gradient-halide/*.bc
halide/gradient-halide/*.cubin
halide/gradient-halide/tags
halide/gradient-halide/src/*.top
halide/gradient-halide/llvm_svn
halide/gradient-halide/llvm/*
halide/gradient-halide/cpp/*
halide/gradient-halide/*.h.gch
halide/gradient-halide/src/test_*.ll
halide/gradient-halide/src/test_*.s
halide/gradient-halide/.clang_complete
halide/gradient-halide/*.guru
halide/gradient-halide/*.dSYM
halide/gradient-halide/.*.swp
halide/gradient-halide/tools/objc/BUILD
halide/gradient-halide/tools/objc/*.mobileprovision
halide/gradient-halide/*.xcworkspacedata


halide/gradient-halide/*.txt.user*
halide/gradient-halide/.idea

# jrk editor settings
.tm_properties
*.sublime-project
*.sublime-workspace

halide/gradient-halide/apps/patchmatch

# app intermediates
halide/gradient-halide/apps/*/*out*.png
halide/gradient-halide/apps/*/*.lowered
halide/gradient-halide/apps/*/*.def
halide/gradient-halide/apps/*/*.ptx
halide/gradient-halide/apps/*/passes.txt
halide/gradient-halide/apps/*/*.ll
halide/gradient-halide/apps/*/*.sass
halide/gradient-halide/apps/*/filter
halide/gradient-halide/apps/HelloAndroidGL/jni/halide_gl_filter.h

# tutorial intermediates
halide/gradient-halide/tutorial/lesson_10_halide.h

# test intermediates
halide/gradient-halide/log.txt
halide/gradient-halide/err.txt
halide/gradient-halide/test/*.lowered
halide/gradient-halide/*.pyc

halide/gradient-halide/src/.tags
halide/gradient-halide/src/.tags_sorted_by_file

halide/gradient-halide/compile_commands.json
halide/gradient-halide/build/
halide/gradient-halide/lib
